In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set_style('darkgrid')

#this enables mutiple prints on the notebook console
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
df = pd.read_csv('./input/hotel_bookings.csv.zip')

In [8]:
df.head(2).transpose()

                                           0             1
hotel                           Resort Hotel  Resort Hotel
is_canceled                                0             0
lead_time                                342           737
arrival_date_year                       2015          2015
arrival_date_month                      July          July
arrival_date_week_number                  27            27
arrival_date_day_of_month                  1             1
stays_in_weekend_nights                    0             0
stays_in_week_nights                       0             0
adults                                     2             2
children                                   0             0
babies                                     0             0
meal                                      BB            BB
country                                  PRT           PRT
market_segment                        Direct        Direct
distribution_channel                  Direct        Direct
is_repeated_guest                          0             0
previous_cancellations                     0             0
previous_bookings_not_canceled             0             0
reserved_room_type                         C             C
assigned_room_type                         C             C
booking_changes                            3             4
deposit_type                      No Deposit    No Deposit
agent                                    NaN           NaN
company                                  NaN           NaN
days_in_waiting_list                       0             0
customer_type                      Transient     Transient
adr                                        0             0
required_car_parking_spaces                0             0
total_of_special_requests                  0             0
reservation_status                 Check-Out     Check-Out
reservation_status_date           2015-07-01    2015-07-01

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [51]:
def get_unique_values(dataframe):
    df = dataframe
    for i in df.columns:
        if df[i].isnull().sum() == 0:
            print('feature: ',i,'\n')
            print(sorted(df[i].unique()))
            print('=='*30)
    return "**"*30

In [59]:
def get_categorical_value_counts(dataframe):
    df = dataframe
    cat_col = df.select_dtypes(include='object').columns
    for i in cat_col:
        print(i,' : UniqueCount ',df[i].nunique(), '\n')
        print(df[i].value_counts())
        print("==="*15)
    return "**"*15